{% extends "base.html" %}
{% block content %}
 <div class="container">
  
    <h3 class="text-center  badge bg-success">لاتفوت عروض الصيف</h3>
    <div class="row text-center d-flex justify-content-center mt-5">     <!-- يكون المحتوى في الوسط -->
      
      <div class="col-sm-3">
        <a href="{% url 'careitems' %}">
            <div class="card border border-dagnger">
                <div class="card-body ">
                    <i class="bi bi-person-heart"  style="font-size: 60px;"></i>  
                    <h4> العناية </h4>
                </div>
            </div>       
        </a>
      </div>

      <div class="col-sm-3">
        <div class="card border border-dagnger">     <!--border-dagnger اطار احمر للكارد-->
           
            <div class="card-body ">
                <i class="bi bi-phone text-success"  style="font-size: 60px;"></i>     <!-- تغير حجم الخط واللون للإكون-->
                <h4> الهواتف الذكية </h4>
            </div>
        </div>
      </div>

      <div class="col-sm-3">
        <a href="{% url 'listitems' %}">
            <div class="card border border-dagnger">
                <div class="card-body ">
                    <i class="bi bi-person-arms-up text-danger"  style="font-size: 60px;"></i>
                    <h4> قسم الملابس  </h4>
                </div>
            </div>       
        </a>
      </div>

    </div>
    
 </div>
{% endblock content %}